<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить торт</title>
</head>
<body class="view">
<div layout:fragment="content" class="top">
    <h1>Добавить торт</h1>
    <form method="POST" th:action="@{/cakes/add}" th:object="${cakeForm}" enctype="multipart/form-data">
        <input type="hidden" th:value="${userCity}" name="city">
        <div class="mb-3 col-sm-4">
            <label for="name" class="form-label">Название</label>
            <input name="name" placeholder="Введите название торта..." type="text" class="form-control" id="name">
            <div
                    class="alert alert-warning"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="cookingTime" class="form-label">Укажите время готовки в часах</label>
            <input name="cookingTime" placeholder="Введите время приготовления вчасах..." type="text"
                   class="form-control" id="cookingTime">
            <div
                    class="alert alert-warning"
                    th:if="${#fields.hasErrors('cookingTime')}"
                    th:errors="*{cookingTime}">
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="decorating" class="form-label">Укажите украшения если есть</label>
            <input name="decorating" placeholder="Перечислети украшения если они есть..." type="text"
                   class="form-control" id="decorating">
            <div
                    class="alert alert-warning"
                    th:if="${#fields.hasErrors('decorating')}"
                    th:errors="*{decorating}">
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="weightFrom" class="form-label">Укажите минимальную масса торта в килограммах</label>
            <input name="weightFrom" placeholder="Укажите массу от..." type="text" class="form-control" id="weightFrom">
            <div
                    class="alert alert-warning"
                    th:if="${#fields.hasErrors('weightFrom')}"
                    th:errors="*{weightFrom}">
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <div class="mb-3">
                <p>Ваш город</p>
                <h4 th:text="${userCity.getCityText()}"></h4>
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <div class="mb-3">
                <label for="form" class="form-label">Выберете форму</label>
                <select class="form-select" name="form" id="form" aria-label="Default select example">
                    <option th:each="form : ${T(com.example.tortland.model.Form).values()}"
                            th:value="${form}" th:text="${form.getFormText()}"></option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="shortDescription" class="form-label">Напишите краткое описание</label>
            <input name="shortDescription" placeholder="Краткое описание..." type="text" class="form-control"
                   id="shortDescription">
            <div
                    class="alert alert-warning"
                    th:if="${#fields.hasErrors('shortDescription')}"
                    th:errors="*{shortDescription}">
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="file1" class="form-label">Главное изображение</label>
            <input name="file1" type="file" class="form-control" id="file1">
        </div>
        <div class="mb-3 col-sm-4">
            <label for="file2" class="form-label">Изображение</label>
            <input name="file2" type="file" class="form-control" id="file2">
        </div>
        <div class="mb-3 col-sm-4">
            <label for="file3" class="form-label">Изображение</label>
            <input name="file3" type="file" class="form-control" id="file3">
        </div>
        <button type="submit" class="btn btn-outline-primary zoom">Добавить</button>
    </form>
    <div class="row" style="margin-bottom: 10%">
        <div class="col">
            <button
                    class="btn btn-outline-secondary zoom"
                    style="float: left; margin-top: 10px; padding-right: 38px;"
                    onclick="window.history.back()">Назад
            </button>
        </div>
    </div>
</div>
</body>
</html>