<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>TortLand</title>
    <style>
        .test {
            color: #ffffff;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="top">
    <div class="row">
        <div class="col-md-6 border-right">
            <div>
                <img src="/images/tort.png" alt="">
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div style="text-align: center">
                <h1 style="font-family:comic sans ms">Хочешь необычный торт ?</h1>
                <h2 style="font-family:comic sans ms; margin-top: 25%">Наши кондитеры сделают вам торт с любыми
                    пожеланиями и наилучшим качеством. Вы точно останетесь довольны! Переходите во вкладку Кондитеры и
                    заказывайте свой личный торт у понравившегося кондитера!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border-right">
            <div style="text-align: center">
                <h2 style="font-family:comic sans ms; margin-top: 40%">Так же вы можете выбрать предсталенные
                    кондитерами торты, которые они выкладывают в своих объявлениях! Переходите во вкладку Торты и
                    выбирайте какой вам понравится!</h2>
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div>
                <img src="/images/tort2.png" alt="">
            </div>
        </div>
    </div>
    <h1 style="font-family:comic sans ms; text-align: center; margin-top: 20%">Приятного аппетита!</h1>
    <div style=" margin-top: 15%; margin-right: 30px" class="text-center">
        <img src="/images/logoBot.png" alt="" width="400" height="400">
    </div>
</div>
</body>
</html>
