<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Вход в систему</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main id="main-wrapper" class="container content-wrapper m-auto" style="margin-top: 5%" layout:fragment="content">
    <div class="row justify-content-center container-fluid" style="margin-top: 10%;">
        <div class="col-xl-10 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Вход</h3>
                                </div>
                                <p class="text-muted mt-2 mb-5">Введите своё имя пользователя и пароль.</p>
                                <form method="POST" th:action="@{/login}">
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger">Неверный пароль!</div>
                                    </div>
                                    <div class="form-group">
                                        <input name="username" type="text" class="form-control"
                                               id="exampleInputUsername"
                                               placeholder="Имя пользователя"
                                               aria-describedby="usernameHelp"/>
                                        <small id="usernameHelp" class="form-text text-muted">Введите имя
                                            пользователя</small>
                                    </div>
                                    <div class="form-group mb-5">
                                        <input name="password" type="password" class="form-control"
                                               id="exampleInputPassword"
                                               placeholder="Пароль">
                                        <small id="passwordHelp" class="form-text text-muted">Введите пароль</small>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary zoom" style="float: right">
                                        Вход
                                    </button>
                                    <a href="/users/remember-password" class="forgot-link float-right text-primary">Забыли
                                        пароль?</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right" style="padding: 0;
        background-image: url(/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;">
                                <div class="overlay rounded-right" style="-webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);"></div>
                                <div class="account-testimonial" style="text-align: center;
        color: #fff;
        position: absolute;
        margin: 0 auto;
        padding: 0 1.75rem;
        bottom: 3rem;
        left: 0;
        right: 0;">
                                    <h4 class="text-white mb-4 ce">Добро пожаловать!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted text-center mt-3 mb-0">У вас еще нету аккаунта? <a href="/users/registration"
                                                                                    class="text-primary ml-1">зарегистрироваться</a>
            </p>
        </div>
        <div style=" margin-top: 5%; margin-right: 30px" class="text-center">
            <img src="/images/logoBot.png" alt="" width="400" height="400">
        </div>
    </div>
</main>
</body>
</html>
